body {
    margin: 5% auto;
    background: #f2f2f2;
    color: #444444;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.8;
    max-width: 80%;
}

code {
    background: white;
}

a {
    border-bottom: 1px solid #444444;
    color: #444444;
    text-decoration: none;
}

.flex-container {
    display: flex;
    flex-wrap: nowrap;
    margin-left: 0px;
}

.horizontal-fit {
    justify-content: space-between;
}

input {
  flex: 2;
}

.hover .hover--on,
.hover:hover .hover--off {
  display: none;
}

.hover:hover .hover--on {
  display: inline;
}

.already-saved {
  background-color: #FFFF00;
}

.not-saved-fresh {
  animation-duration: 1.5s;
  animation-name: remove-highlight;
  animation-iteration-count: 1;
  animation-fill-mode: initial
}

.not-saved {
  animation-duration: 0.3s;
  animation-delay: 1s;
  animation-name: remove-highlight;
  animation-iteration-count: 1;
  animation-fill-mode: initial
}

.not-saved-add-highlight {
  animation-duration: 0.5s;
  animation-delay: 10s;
  animation-name: add-highlight;
  animation-iteration-count: 1;
  background-color: #FFFF00;
}

.meaning-preview,
.meaning-preview::after {
    animation-delay: var(--animation-delay, s);
    animation-iteration-count: var(--iterations, 1);
    animation-duration: var(--duration, 800ms);
    animation-fill-mode: both;
    animation-timing-function: cubic-bezier(0.0, 0.0, 0.2, 1);
}

.meaning-preview {
    --animation-delay: var(--delay, 0);
    --animation-duration: var(--duration, 800ms);
    --animation-iterations: var(--iterations, 1);
    position: relative;
    font-size: 32px;
    animation-name: clip-text;
    color: #828282;
    font-style: italic;
    white-space: nowrap;
    cursor: default;

    &::after {
        content: "";
        position: absolute;
        z-index: 999;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #f2f98b;
        transform: scaleX(0);
        transform-origin: 0 50%;
        pointer-events: none;
        animation-name: text-revealer;
    }

}

@keyframes clip-text {
    from {
        clip-path: inset(0 100% 0 0);
    }
    to {
        clip-path: inset(0 0 0 0);
    }
}

@keyframes meaning-preview {

    0%, 50% {
        transform-origin: 0 50%;
    }

    60%, 100% {
        transform-origin: 100% 50%;
    }


    60% {
        transform: scaleX(1);
    }

    100% {
        transform: scaleX(0);
    }
}

.game-word {
  cursor: help;
  pointer-events: all;
  animation-duration: 1s;
  animation-name: disable-pointer;
  animation-iteration-count: 1;
}

.tooltip-button {
  cursor: pointer;
}

 /* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  font-size: 16px;
  width: 120px;
  background-color: #000000;
  color: #fff;
  text-align: center;
  text-decoration:none;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  bottom: 90%;
  left: 50%;
  margin-left: -60px;

  /* Fade in tooltip */
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

button {
  padding: 12px 12px;
  border-radius: 4px;
  background-color: #000;
  text-align: center;
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  border:0;
  cursor: pointer;
}

button:hover {
  padding: 12px 12px;
  border-radius: 4px;
  background-color: #444;
  text-align: center;
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  border:0;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
  cursor: pointer;
}

button:active {
  padding: 12px 12px;
  border-radius: 4px;
  background-color: #000000;
  border:0;
}

.meaning-hover {
  background-color: #FFFF00;
}

@keyframes add-highlight {
  0% {
    background-color: #00000000;
  }
  100% {
    background-color: #FFFF00;
  }
}

@keyframes disable-pointer {
  0% {
    pointer-events: none
  }
  100% {
    pointer-events: none
  }
}

@keyframes remove-highlight {
  0% {
    background-color: #FFFF00;
  }
  100% {
    background-color: #00000000;
  }
}
.title-drawer {
    font-weight: bold;
    font-size: 24px;
    color: #444444;
    text-decoration: none;
}
.title-saved {
    display: block;
    margin-block-start: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    font-size: 16px;
    color: #444444;
    text-decoration: none;
    background-color: #ffff00;
}

.description {
    display: block;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    font-size: 16px;
    font-style: italic;
    color: #828282;
    text-decoration: none;
}

.btn-secondary {
  padding: 12px 12px;
  border-radius: 4px;
  background-color: #ffffff;
  text-align: center;
  color: #333333;
  font-size: 16px;
  font-weight: 700;
  border: 1px solid black;
  border-color: #bfbfbf;
  cursor: pointer;
}

.btn-secondary:hover {
  padding: 12px 12px;
  border-radius: 4px;
  background-color: #ffffff;
  text-align: center;
  color: #333333;
  font-size: 16px;
  font-weight: 700;
  border: 1px solid black;
  border-color: #bfbfbf;
  cursor: pointer;
}

.hr {
  height: 1px;
  color: #bfbfbf;
  background-color: #bfbfbf;
  border: none;
}

.sidenav {
  height: 100%; 
  width: 0; 
  position: fixed; 
  z-index: 1; 
  top: 0; 
  right: 0;
  background-color: #fff;
  overflow-x: hidden; 
  overflow-y: scroll;
  padding-top: 60px; 
  transition: 0.5s; 
  padding-left: 24px;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main {
  transition: margin-right .5s;
  padding: 20px;
}

.open-btn {
  Float: right;
  padding: 12px 12px;
  border-radius: 4px;
  background-color: #000;
  text-align: center;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  border:0;
  cursor: pointer;
}

.open-btn:hover {
  Float: right;
  padding: 12px 12px;
  border-radius: 4px;
  background-color: #444;
  text-align: center;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  border:0;
  cursor: pointer;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
}


/* DictionaryView */
.dictionary-element {
    display: flex;
    flex-wrap: nowrap;
    margin-left: 0px;
    flex-direction: row;
    justify-content: space-between;
}

.dictionary-element-edit {
  flex-grow: 1
}